# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/backend/node_modules
/backend/.pnp
/backend.pnp.js

# testing
/backend/coverage

# production
/backend/build
/backend/.env
